

.header{
 
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
}

.header__menu{
  z-index: 3;
  display: flex;
}

.header__logo{
  height: 43px;
}

.menu__list-one{
  display: flex;
  list-style-type: none;
}

.menu__item-one{

}

.menu__list-two{
  list-style-type: none;
}

.menu__item-two{
  
}

.menu__link{
  text-decoration: none;
  color: #150C01;
  opacity: .7;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 35px;
}

.menu__link-one{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #DC7808;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 35px;
}

.menu__link-two{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: #DC7808;
  color: #fff;
  padding: 13px 35px;
  border-radius: 10px;
}

.home{
  
}

.home__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}

.home__item{
  z-index: 2;
  position: absolute;
}

.home__item-title{
  width: 555px;
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  padding-top: 95px;
}

.home__item-text{
  width: 555px;
  color: #150C01;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 50px;
  opacity: .7;
}

.home__link-one{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #DC7808;
  padding: 20px 40px;
  border-radius: 5px;
  margin-right: 25px;
}

.home__link-two{
  text-decoration: none;
  color: #DC7808;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #DC7808;
  padding: 18px 38px;
  border-radius: 5px;
}

.home__images{
  z-index: 1;
  position: relative;
  margin-top: -75px;
  margin-left: 480px;
}

.home__img{
  
}

.food{
  padding: 100px;
}

.food__box{
  padding: 0 150px;
}

.food__title-1{
  text-align: center;
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: -20px;
}

.food__text-1{
  text-align: center;
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  padding-bottom: 30px;
}

.food__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}

.food__item{
  text-align: center;
}

.food__img-1{
  background-color: #cbd69f;
  padding: 22px 23px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.food__img-2{
  background-color: #e9b3a8;
  padding: 22px 23px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-bottom: 25px;
}

.food__img-3{
  background-color: #dfb88d;
  padding: 22px 23px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.food__title-2{
  text-align: center;
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: -5px;
}

.food__text-2{
  width: 300px;
  text-align: center;
  color: #150C01;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.abou__us{
  padding-bottom: 100px;
}

.abou__us-inner{
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}

.abou__us-item{
  padding: 80px 0 100px 80px;
}

.abou__us-item--title{
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -25px;
}

.abou__us-title{
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 25px;
}

.abou__us-text{
  color: #150C01;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.abou__us-link{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #DC7808;
  padding: 11px 30px;
  border-radius: 5px;
}

.dishes{
  padding-bottom: 150px;
}

.dishes__title-1{
  text-align: center;
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -20px;
}

.dishes__text-1{
  text-align: center;
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 24px;
}

.dishes__text{
  text-align: center;
  color: #150C01;
  opacity: 70%;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.dishes__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}

.dishes__item{
  border: 1px solid #cccccc;
  border-top-left-radius: 77px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 360px;
  height: 446px;
  margin-bottom: 30px;
}

.dishes__title-2{
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  margin: 20px 0 20px 20px;
}

span{
  float: right;
  margin-right: 22px;
}

.dishes__text-2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 20px 20px 20px;
}

.dishes__img-1{
  background-color: #DC7808;
  color: #fff;
  padding: 8px 8px;
  border-radius: 5px;
  margin: 0 10px 0 20px;
}

.dishes__img-2{
  margin-left: 190px;
  position: absolute;
  margin-top: 0;
}

.dishes__link-2{
  padding-top: 30px;
  text-align: center;
}

.dishes__link{
  text-decoration: none;
  color: #DC7808;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #DC7808;
  padding: 11px 30px;
  border-radius: 5px;
}

.features{
  padding-bottom: 100px;
  background-color: #FBF1E7;
  width: 1440px;
  height: 550px;
  margin: 0 auto;
}

.features__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 247px;
}

.features__item{
  
}

.features__item-title{
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 180px;
  margin-bottom: -25px;
}

.features__title{
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 10px;
}

.features__text{
  width: 555px;
  color: #150C01;
  opacity: 70%;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.features__link-one{
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #150C01;
  padding: 19px 50px;
  border-radius: 5px;
  margin-right: 30px;
}

.features__link-two{
  text-decoration: none;
  color: #150C01;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #aaa8a5;
  padding: 18px 49px;
  border-radius: 5px;
}

.features__images{

}

.testimonial{
  padding: 100px 0 100px 0;
}

.testimonial__inner{

}

.testimonial__item{
  text-align: center;
}

.testimonial__item-title{
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -20px;
}

.testimonial__title{
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 24px;
}

.testimonial__text-one{
  color: #000000;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 70px;
}

.testimonial__text-two{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.testimonial__text-three{
  color: #000000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 40px;
}

.testimonial__text-four{
  color: #000000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: -15px;
}

.testimonial__img-one{

}

.testimonial__img-two{

}

.contact{
  background-color: #FBF1E7;
  width: 1440px;
  height: 448px;
  margin: 0 auto;
}

.contact__inner{

}

.contact__item{
  text-align: center;
}

.contact__title{
  color: #DC7808;
  opacity: 70%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 115px;
}

.contact__text{
  color: #150C01;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  margin-top: -15px;
  margin-bottom: 30px;
}

input{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  width: 500px;
  height: 75px;
  border: none;
  border-radius: 10px;
  padding-left: 30px;
}

.contact__link{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  background-color: #DC7808;
  padding: 25px 55px;
  border-radius: 10px;
}

.footer{
  background-color: #252525;
  width: 1440px;
  height: 400px;
  margin: 0 auto;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 110px 0 0 150px;
}

.footer__item{
  margin-right: 200px;
}

.footer__title{
  color: #fff;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 5px;
}

.footer__text{
  color: #fff;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__name{
  color: #fff;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__mail{
  color: #fff;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__phone{
  color: #fff;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__img{
  padding-right: 3px;
}


++++++++++++1


















-